<div class="container" *ngIf="userService.userType.toLowerCase() === 'citizen'">
    <div>
        <h5>Enter the Complaint details</h5>
    </div>
    <div>
        <label for="job"><b>Issue Name</b></label>
        <input type="text" placeholder="Enter Complaint Id" [(ngModel)]="complaintName" required>
    </div>
    <div>
        <label for="info"><b>Issue Info</b></label>
        <input type="text" placeholder="Enter the Complaint Info" [(ngModel)]="complaintInfo" required>
    </div>

    <button class="city-btn" (click)="createComplaint()" >Create Complaint</button>
</div>

<div *ngIf="dataSource.length > 0">
    <div style="text-align: center;">
        <h4>Complaint details</h4>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="complaintName">
          <th mat-header-cell *matHeaderCellDef> Complaint Name </th>
          <td mat-cell *matCellDef="let element">
              <a *ngIf="userService.userType.toLowerCase() !== 'admin'">{{element.complaintName}}</a> 
              <a *ngIf="userService.userType.toLowerCase() === 'admin'" (click)="openDialog(element.complaintName)">{{element.complaintName}}</a> 
         </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="complaintInfo">
          <th mat-header-cell *matHeaderCellDef> Complaint Info </th>
          <td mat-cell *matCellDef="let element"> {{element.complaintInfo}} </td>
        </ng-container>

        <ng-container matColumnDef="replyInfo">
            <th mat-header-cell *matHeaderCellDef> Reply Info </th>
            <td mat-cell *matCellDef="let element"> {{element.replyComplaint}} </td>
          </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>

<div style="text-align: center;" *ngIf="dataSource.length === 0">
    No Complaint has been raised by citizen
  </div>