<div class="container" *ngIf="userService.userType.toLowerCase() === 'admin'">
    <div>
        <p>Enter the following details</p>
    </div>
    <div>
        <label for="floor"><b>City</b></label>
        <input type="text" placeholder="Enter City" [(ngModel)]="name" required>
    </div>
    <div>
        <label for="slot"><b>Area</b></label>
        <input type="text" placeholder="Enter Area (sq/km)" [(ngModel)]="area" required>
    </div>
    <div>
        <label for="about"><b>About</b></label>
        <input type="text" placeholder="Enter details of city" [(ngModel)]="about" required>
    </div>

    <div>
        <label for="slot"><b>Total Airport</b></label>
        <input type="text" placeholder="Enter total airport" [(ngModel)]="airportno" required>
    </div>
    
    <button class="city-btn" (click)="createCity()" >Create City</button>
</div>

<div *ngIf="dataSource.length > 0">
  <div style="text-align: center;">
    <h4>City details</h4>
</div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> City </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="about">
          <th mat-header-cell *matHeaderCellDef> To Know </th>
          <td mat-cell *matCellDef="let element"> {{element.about}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef> Area </th>
          <td mat-cell *matCellDef="let element"> {{element.area}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="airportCount">
          <th mat-header-cell *matHeaderCellDef> Airport </th>
          <td mat-cell *matCellDef="let element"> {{element.airportCount}} </td>
        </ng-container>

      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    
</div>

<div style="text-align: center;" *ngIf="dataSource.length === 0">
  No City has been added by Admin Member
</div>