<div class="container">
    <div>
        <h4>Enter Citizen Details</h4>
    </div>
    <div>
        <label for="cityname"><b>City Name</b></label>
        <input type="text" placeholder="Enter City Name" [(ngModel)]="cityname" required>
    </div>
    <div>
        <label for="id"><b>ID</b></label>
        <input type="text" placeholder="Enter identification Number" [(ngModel)]="identificationNumber" required>
    </div>
    <div>
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter citizen name" [(ngModel)]="name" required>
    </div>

    <div>
        <label for="occupation"><b>Occupation</b></label>
        <input type="text" placeholder="Enter Occupation Detail" [(ngModel)]="occupation" required>
    </div>
    
    <button class="city-btn" (click)="addCitizen()" >Add Citizen</button>
</div>