<div class="container" *ngIf= "this.userService.userType.toLowerCase() === 'businessman'">
    <div>
        <h5>Enter the Job details</h5>
    </div>
    <div>
        <label for="job"><b>Job Id</b></label>
        <input type="text" placeholder="Enter Job Id" [(ngModel)]="jobId" required>
    </div>
    <div>
        <label for="info"><b>Job Info</b></label>
        <input type="text" placeholder="Enter the Job Info" [(ngModel)]="jobInfo" required>
    </div>
    <div>
        <label for="companyinfo"><b>Company Info</b></label>
        <input type="text" placeholder="Enter the Company Info" [(ngModel)]="companyInfo" required>
    </div>

    <button class="city-btn" (click)="createJob()" >Create Job</button>
</div>

<div *ngIf="dataSource.length > 0">
    <div style="text-align: center;">
        <h4>Job details</h4>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="jobId">
          <th mat-header-cell *matHeaderCellDef> Job Id </th>
          <td mat-cell *matCellDef="let element"> 
              <span *ngIf= "this.userService.userType.toLowerCase() !== 'student'">{{element.jobId}} </span>
              <a  *ngIf= "this.userService.userType.toLowerCase() === 'student'" (click)="applyJob(element.jobId)">{{element.jobId}} </a> 
            </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="jobInfo">
          <th mat-header-cell *matHeaderCellDef> Job Info </th>
          <td mat-cell *matCellDef="let element"> {{element.jobInfo}} </td>
        </ng-container>
      
        <ng-container matColumnDef="companyInfo">
            <th mat-header-cell *matHeaderCellDef> Company Info </th>
            <td mat-cell *matCellDef="let element"> {{element.companyInfo}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>

<div style="text-align: center;" *ngIf="dataSource.length === 0">
    No Job has been added by Businessman
</div>
<div *ngIf = "jobsApplied.length > 0 && this.userService.userType.toLowerCase() === 'student'" style="padding:12px;margin-left: 40px;">
    <div style="text-align: center;">
        <h4>Applied Jobs</h4>
    </div>
    <table mat-table [dataSource]="appliedJobdataSource" class="mat-elevation-z8">
    
        <!-- Name Column -->
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef> User Name </th>
          <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="jobId">
            <th mat-header-cell *matHeaderCellDef> Job Id </th>
            <td mat-cell *matCellDef="let element"> {{element.jobId}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedJobColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedJobColumns;"></tr>
      </table>
</div>