<div class="container" *ngIf="userService.userType && userService.userType.toLowerCase() === 'patient'">
    <p  style="margin-left: 40%;">Please enter the question to ask to doctor</p>
<div>
    <label for="name"><b>Doctor id</b></label>
    <input type="text" placeholder="Enter doctor Name" [(ngModel)]="doctorId" required>
</div>
<div>
    <label for="name"><b>Question</b></label>
    <input type="text" placeholder="Enter Question" [(ngModel)]="question" required>
</div>
<button class="city-btn" (click)="updateChatBoxPatient()" >Post</button>
</div>

<div  class="container" *ngIf="userService.userType && userService.userType.toLowerCase() === 'doctor'">
    <p  style="margin-left: 40%;">Please reply to patient</p>
<div>
    <label for="name"><b>Patient id</b></label>
    <input type="text" placeholder="Enter Patient Name" [(ngModel)]="patientId" required>
</div>
<div>
    <label for="name"><b>Reply</b></label>
    <input type="text" placeholder="Enter Reply" [(ngModel)]="reply" required>
</div>
<button class="city-btn" (click)="updateChatBoxDoctor()" >Post</button>
</div>


<div *ngIf="userService.userType && userService.userType.toLowerCase() === 'doctor'">
<div style="text-align: center;">
      <h4>Chat history</h4>
</div>
      <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
  
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="doctorId">
            <th mat-header-cell *matHeaderCellDef>doctor id</th>
            <td mat-cell *matCellDef="let element"> {{element.doctorId}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="patientId">
            <th mat-header-cell *matHeaderCellDef>patient id</th>
            <td mat-cell *matCellDef="let element"> {{element.patientId}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="question">
            <th mat-header-cell *matHeaderCellDef>Question from patient</th>
            <td mat-cell *matCellDef="let element"> {{element.question}} </td>
          </ng-container>
        
  
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
      
  </div>





  <div *ngIf="userService.userType && userService.userType.toLowerCase() === 'patient'">
    <div style="text-align: center;">
          <h4>Chat history</h4>
    </div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="doctorId">
                <th mat-header-cell *matHeaderCellDef>doctor id</th>
                <td mat-cell *matCellDef="let element"> {{element.doctorId}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="patientId">
                <th mat-header-cell *matHeaderCellDef>patient id</th>
                <td mat-cell *matCellDef="let element"> {{element.patientId}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="reply">
                <th mat-header-cell *matHeaderCellDef>Solution from Doctor</th>
                <td mat-cell *matCellDef="let element"> {{element.reply}} </td>
              </ng-container>
      
            
              <tr mat-header-row *matHeaderRowDef="displayedColumnsReply"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsReply;"></tr>
            </table>
      
          
      </div>