<div class="container">
        <table>
                <tr>
                        <td style="width: 50%;">
      <div class="column">  <img src="../../assets/hosp.png" alt="Cities">
    </div>
    </td>

    <td style="width: 50%;">
    <div>
            <div style="margin: 20px;"  class="action">
                    <h3> Only Registered users can login to the application 
                    <a class="sign-up" routerLink="/signup"  type="button" >Sign Up</a></h3>
                </div>
    <div style="margin: 20px;">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" [(ngModel)]="uname" required>
    </div>
    <div style="margin: 20px;">
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" [(ngModel)]="password" required>
    </div>
    <div style="margin: 20px;" class="user-type">
        <b>User Type</b>
        <select name="cars" id="cars" [(ngModel)]="usertype">
            <option [ngValue]="'admin'">Admin</option>
            <option [ngValue]="'patient'">Patient</option>
            <option [ngValue]="'doctor'">Doctor</option>
            <option [ngValue]="'accountant'">Accountant</option>
        </select>
    </div>
    <div class="action">
        <div>
            <a class="login" (click)="login()" type="button">Login</a>
           
        </div>
    </div>
    <p>{{error}}</p>
</div>
</td></tr>
</table>
</div>