

<div *ngIf="dataSource.length > 0">
    <div style="text-align: center;">
      <h4>Doctor details</h4>
  </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Doctor Id</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Doctor Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">
                <input type="text" placeholder="Description about Doctor" [(ngModel)]="element.description" required>
            </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="book">
            <th mat-header-cell *matHeaderCellDef>Update Doctor Detail</th>
            <td mat-cell *matCellDef="let element"> 
                <button (click)="updateDoctor(element)">update</button>
            </td>
          </ng-container>
  
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
      
  </div>
  
  <div style="text-align: center;" *ngIf="dataSource.length === 0">
    No Doctor has been signed
  </div>

  <div class="container" *ngIf="userService.userType && userService.userType.toLowerCase() === 'admin'">
      <div>
          <div style="    padding-left: 0px;">Enter the Doctor ID to delete</div>
          <input type="text" placeholder="Enter Doctor Id" [(ngModel)]="docId" required>
      </div>
      <button class="city-btn" (click)="deleteDoctor(docId)" >Delete</button>
    </div>


    <div *ngIf="dataSourceAppointment.length > 0">
      <div style="text-align: center;">
        <h4>Doctor Appointment Details</h4>
    </div>
        <table mat-table [dataSource]="dataSourceAppointment" class="mat-elevation-z8">
    
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->

            <ng-container matColumnDef="patientId">
              <th mat-header-cell *matHeaderCellDef>Patient Id</th>
              <td mat-cell *matCellDef="let element"> {{element.patientId}} </td>
            </ng-container>


            <ng-container matColumnDef="doctorId">
              <th mat-header-cell *matHeaderCellDef>Doctor Id</th>
              <td mat-cell *matCellDef="let element"> {{element.doctorId}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="timing">
              <th mat-header-cell *matHeaderCellDef>Timing</th>
              <td mat-cell *matCellDef="let element"> {{element.timing}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">
                  <input type="text" placeholder="Description about Doctor" [(ngModel)]="element.description" required>
              </td>
            </ng-container>
          
            <!-- Symbol Column -->
    
          
            <tr mat-header-row *matHeaderRowDef="displayedColumnsAppointment"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsAppointment;"></tr>
          </table>
    
        
    </div>