<div class="parking">
<mat-card class="example-card">
    <mat-card-header>
      <h3>Patient</h3>
    </mat-card-header>
    
    <mat-card-content>
        <img mat-card-image src="../../assets/patient.png" alt="Cities">
    </mat-card-content>
    <mat-card-actions>
        <button  routerLink="/patient" >Click</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <h3>Doctor</h3>
    </mat-card-header>
    
    <mat-card-content>
        <img mat-card-image src="../../assets/doctor.jpg" alt="Job">
    </mat-card-content>
    <mat-card-actions>
      <button routerLink="/doctor" >Click</button>
  </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" *ngIf="userService.userType && userService.userType.toLowerCase() === 'admin'">
    <mat-card-header>
      <h3>Beds</h3>
    </mat-card-header>
    
    <mat-card-content>
        <img mat-card-image src="../../assets/beds.jpg" alt="Job">
    </mat-card-content>
    <mat-card-actions>
      <button routerLink="/bed" >Click</button>
  </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" *ngIf="userService.userType && userService.userType.toLowerCase() !== 'doctor'">
    <mat-card-header>
      <h3>Billing</h3>
    </mat-card-header>
    
    <mat-card-content>
        <img mat-card-image src="../../assets/beds.jpg" alt="Billing">
    </mat-card-content>
    <mat-card-actions>
      <button routerLink="/billing" >Click</button>
  </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" *ngIf="userService.userType && userService.userType.toLowerCase() !== 'admin'">
    <mat-card-header>
      <h3>Chat Box</h3>
    </mat-card-header>
    
    <mat-card-content>
        <img mat-card-image src="../../assets/beds.jpg" alt="Chatbox">
    </mat-card-content>
    <mat-card-actions>
      <button routerLink="/chat" >Click</button>
  </mat-card-actions>
  </mat-card>
</div>